@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
	background-image: url("../public/bg-hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* .custom-img {
	object-fit: contain;
	width: 100% !important;
	position: relative ;
}

.unset-img {
	width: 100%;
} */

